openai>=1.40.0
psycopg[binary]>=3.2.1
python-dotenv>=1.0.1
python-docx>=1.1.2
numpy>=1.26.4
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
torch
torchaudio
soundfile
HyperPyYAML
omegaconf
hydra-core
inflect
librosa
conformer
diffusers
transformers
onnxruntime
onnxruntime-gpu
openai-whisper
wetext
wget
modelscope
grpcio
grpcio-tools
pyworld
rich
networkx
lightning
matplotlib
pyarrow
gdown
x-transformers
edge-tts
